.eiei{

    margin-right: 40%;
    margin-left: 40%;

}

.ei{

  margin-right: 20%;
  margin-left: 20%;

}


.bg-primary {

    background-color: #00d0b1;
  }

  html{
    background-color: #00d0b1ad;
  }

  .header-image {/*https://www.picz.in.th/images/2018/09/17/f8MP1q.png*/
  
    /*background-image: url("https://www.picz.in.th/images/2018/09/17/fHdgtW.png"); */
    background-image: url("https://www.picz.in.th/images/2018/09/18/fHTIGu.png"); 
    /*background-image: url("https://www.picz.in.th/images/2018/09/17/f8MP1q.png"); */
  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 100%;
    background-color: rgb(93, 250, 185);
  }
  

  .bg-columns{
    background-color: #00d0b1c4;
  }